[Desktop Entry]
Version=1.0
Name=Google Maps
Comment=Google Maps
Exec=omarchy-launch-webapp https://www.google.com/maps
Terminal=false
Type=Application
Icon=/home/mark/.local/share/applications/icons/Google Maps.png
StartupNotify=true
