[Desktop Entry]
Version=1.0
Name=Outlook
Comment=Outlook
Exec=omarchy-launch-webapp https://outlook.office.com/mail/?realm=halfords.co.uk&login_hint=Mark.Lambert@halfords.co.uk
Terminal=false
Type=Application
Icon=/home/mark/.local/share/applications/icons/Outlook.png
StartupNotify=true
